# Files to ignore
*.ipynb
.python-version

# data
*.tif
*.jpg
*.geojson
*.csv
*.json

# environnement
.envrc
.env


# vrac
**__MACOSX/


# New files / folders
.DS_Store
__pycache__
*.egg-info
model_results/
plot_results/
plot_results_1/
plot_results_128/
nohup.out
