matplotlib==3.9.2
matplotlib-inline==0.1.7
numpy==1.23.5
pandas==2.2.2
requests==2.32.3
notebook==7.2.1
imageio==2.35.1
opencv-python==4.10.0.84
tifffile==2024.8.10
torch==2.2.2
torchsummary==1.5.1
geopandas==1.0.1
shapely==2.0.6
scikit-image==0.24.0
pillow==10.4.0
google==3.0.0
google-cloud-storage==2.4.0
pytorch-lightning
